/*
    - Project is web skills on WhatsApp: 3rd
    - index.css that styles the index.php
    - Global Styles 
    - Style Section
*/

/* Global Styles  */
body {
    height: auto;
    width: 100%;
    background-color: #F7F7F7;
}
/* Global Styles  */
